
body{
 background: rgba(3,3,3,1) url("image2.jpeg") center center fixed;
 background-blend-mode: lighten;
 background-size: cover;
 background-position: center;
 font-size: 24;
}
.navbar {
 overflow: hidden;
  background-color: purple;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: green;
  color: black;
}

.content {
  padding: 20px;
  margin-top: 60px;
}